#hero-container {
	width: 100vw;
	height: 74.5vh;
	background-color: var(--c-secondary);
	flex-direction: column;
	position: relative;
}

#hero-text-container {
	margin-top: 15vh;
}

#hero-title {
	font-size: 3.5rem;
	font-weight: 700;
	padding-bottom: 2vh;
}

#hero-subtitle {
	font-size: 1.35rem;
	font-weight: 425;
}

.hero-text {
	color: var(--c-inv-text);
	text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
}

#hero-p {
	margin-top: 1.5rem;
	font-size: 1.35rem;
	font-weight: 400;
	color: var(--c-text);
	padding: 1.5rem 1.5rem;
	border-radius: 1.2rem;
	background: rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
	backdrop-filter: blur(8px) saturate(1.2);
	border: 1.5px solid rgba(255, 255, 255, 0.25);
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}

#hero-buttons-container {
	margin: auto 0;
}

.hero-button {
	background-color: var(--c-accent);
	color: var(--c-inv-text);
	padding: 0.7rem 1.2rem;
	font-size: 1.25rem;
	border-radius: 0.5rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	border: none;
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
}

.hero-button:hover {
	background-image: linear-gradient(to bottom right, var(--c-primary), var(--c-accent));
	box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.5);
	transform: scale(1.05);
}

.hero-buttons-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
}